.tictactoe {
	width: 250px;
}

#notification {
	display: none;

}

#winnerMessege {
	font-weight: bold;
	padding: 10px 10px 5px 10px;

}

#gameBoard {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 30px;

}

#restartButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.space {
	height: 50px;
	width: 50px;
	font-size: 25px;
	padding-top: 7px;

}

.line-right {
	border-right: 2px solid #ccc;

}

.line-bottom {
	border-bottom: 2px solid #ccc;
}


h1 {
	text-align: center;
}
